<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="container">
        <div id="icon">
            <div class="icon">
                <button> <i class='fas'>&#xf028;</i> </button>
                <span class="txt" id="yui_3_18_1_1_1605629627932_1362">Put</span>
                <span class="txt" id="yui_3_18_1_1_1605629627932_1362"> </span>
                <span class="decimal-scalar" id="yui_3_18_1_1_1605629627932_1364">
                    <span class="expression number">2</span>
                </span>
                <span class="txt" id="yui_3_18_1_1_1605629627932_1362">shells in the</span>
                <span class="txt" id="yui_3_18_1_1_1605629627932_1362">picture</span>
            </div>
        </div>
        <div id="background">
            <div class="background">
                <img src="background/garden2.png" alt="" style="width: 500px;">
            </div>
        </div>
         <div id="content">
            <div class="product">
                <div class="box"><img src="background/owl1_tile_ou.png" alt=""></div>
            </div>
         </div>
    </div>
</body>

</html>